@media screen and (max-width: 768px) {

    /* HEADER */

    nav div {
      display: flex;
      width: 100%;
    }
  
    .head {
      margin: 0px;
    }
  
    .logo {
      margin: auto;
    }
  
    nav div a {
      display: flex;
      justify-content: center;
      padding: 20px 0px 15px 0px;
      flex-basis: 100%;
      border-bottom: 2px solid #f2f2f2;
      font-weight: 600;
      font-size: 16px;
    }
  
    nav div a:hover {
      border-top: none;
      border-bottom: 2px solid #0065fc;
    }
  
  
  /*END HEADER*/

  /* SEARCH */

    .search_filters {
    padding: 0px 20px;
    }

    .search button i {
      display: flex;
    }
  
    .search button {
      width: 60px;
      border-radius: 16px;
      margin-left: -10px;
    }
  
    .search button span {
      display: none;
    }
  
  /*END SEARCH */

  /* LODGING  */

  #container_lodging{
    padding: 0px;
  }

  /* END LODGING */

  /* RESULTS & POPULAR */

  .results, .popular{
    border-radius: inherit;
  }

  .results{
    background-color: white;
  }

  /* END RESULTS & POPULAR */

  /* CARDS LODGING & POPULAR */

  .cards_lodging, .cards_popular{
    flex-direction: column;
  }

  .cards_lodging div{
    width: 100%;
  }

  /* END CARDS LODGING & POPULAR */

  /* ACTIVITIES */

  .cards_activities{
    gap: 20px;
  }

  .cards_activities >div{
    width: 100%;
    height: 100%;
  }

  /* END ACTIVITIES */

}
