@media screen and (max-width: 768px) {

    /* HEADER */

    nav div {
      display: flex;
      width: 100%;
    }
  
    .head {
      margin: 0px;
    }
  
    #logo {
      margin: auto;
    }
  
    nav div a {
      display: flex;
      justify-content: center;
      padding: 20px 0px 15px 0px;
      flex-basis: 100%;
      border-bottom: 2px solid #f2f2f2;
      font-weight: 600;
      font-size: 16px;
    }
  
    nav div a:hover {
      border-top: none;
      border-bottom: 2px solid #0065fc;
    }
  
  
  /*END HEADER*/

  /* SEARCH */

    #search{
      display: flex;
      justify-content: center;
    }


    #search button i {
      display: flex;
    }
  
    #search button {
      width: 60px;
      border-radius: 16px;
      margin-left: -10px;
    }
  
    #search button span {
      display: none;
    }
  
  /*END SEARCH */

  /* LODGING  */

  .container_lodging{
    padding: 0px;
  }

  .container_lodging > div{
    border-radius: inherit;
  }

  /* END LODGING */

  /* MINI CARDS LODGING */

  .cards_lodging{
    flex-direction: column;

  }

  .cards_lodging div{
    width: 100%;
  }

  /* END MINI CARDS LODGING */

  /* MINI CARDS POPULAR */

  .cards_popular{
    flex-direction: column;
  }

  /* END MINI CARDS POPULAR */

}
