@media screen and (max-width: 768px) {

    /* MEDIA QUERIES HEADER 768px */

    nav div {
      display: flex;
      width: 100%;
    }
  
    .head {
      margin: 0px;
    }
  
    #logo {
      margin: auto;
    }
  
    nav div a {
      display: flex;
      justify-content: center;
      padding: 20px 0px 15px 0px;
      flex-basis: 100%;
      border-bottom: 2px solid #f2f2f2;
      font-weight: 600;
      font-size: 16px;
    }
  
    nav div a:hover {
      border-top: none;
      border-bottom: 2px solid #0065fc;
    }
  
  
  /*FIN MEDIA QUERIES HEADER*/

  /*MEDIA QUERIES SEARCH 768px*/


    #search button i {
      display: flex;
    }
  
    #search button {
      width: 60px;
      border-radius: 16px;
      margin-left: -10px;
    }
  
    #search button span {
      display: none;
    }
  
  /*FIN MEDIA QUERIES SEARCH 768px*/

  /* MEDIA QUERIES CARDS 768px */

  .container_hebergement{
    padding: 0px;
  }

  .container_hebergement > div{
    border-radius: inherit;
  }

  /* MEDIA QUERIES MINI CARDS */

  .cards_populaire{
    flex-direction: column;
    margin-bottom: 30px;
  }

  .cards_hebergement{
    flex-direction: column;

  }

  .cards_hebergement img{
    height: 150px;
}