@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}

/* HEADER */

.head {
  margin: 0px 60px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

nav div {
  display: flex;
}

nav a {
  color: inherit;
  text-decoration: none;
  padding: 39px 34px;
  font-size: 15px;
}

.logo {
  width: 100px;
  margin-right: auto;
  padding-top: 44px;
}

nav div a:hover {
  border-top: 3px solid #0065fc;
  color: #0065fc;
}

/*END HEADER*/

/* SEARCH */

.search_filters{
  padding: 0px 50px;
}

section h1 {
  margin-top: 30px;
  margin-bottom: -10px;
  font-size: 24px;
}

.search {
  display: flex;
  font-size: 18px;
  font-weight: 900;
}

.fa-sharp {
  padding: 16px;
  background-color: #f2f2f2;
  border-radius: 16px 0px 0px 16px;
  font-size: 18px;
}

.search input {
  border: 1px solid #f2f2f2;
  padding-left: 15px;
  padding-right: 35px;
}

.search input::placeholder {
  color: black;
  font-weight: 700;
}

.search button {
  background-color: #0065fc;
  color: white;
  border: none;
  border-radius: 0px 16px 16px 0px;
  padding: 0px 20px;
  font-weight: 700;
  cursor: pointer;
}

.search button i {
  display: none;
}

/* END SEARCH */

/* FILTERS */

.filters {
  display: flex;
  align-items: center;
  margin: 25px 0;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 32px;
}

.filters button {
  display: flex;
  align-items: center;
  background-color: white;
  border: 2px solid #d9d9d9;
  height: 45px;
  border-radius: 50px;
  padding: 0 16px 0 16px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.filters button:hover {
  background: #deebff;
  transform: scale(1.1);
}

.filters i {
  background: #deebff;
  color: #0065fc;
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin-left: -18px;
}

.plus{
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.plus i{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  border: 2px solid #d9d9d9;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  color: #0065fc;
}

/*END FILTERS*/

/* LODGING */

#container_lodging{
  padding: 0px 50px;
  display: flex;
  gap: 36px;
}

.stars{
  color: #0065fc;
}

.grey{
  color: #d9d9d9;
}

/* END LODGING */

/* RESULTS & POPULAR */

.results, .popular{
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 12px 32px;
}

.results a{
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}

.star{
  display: flex;
  justify-content: space-between;
}

/* END RESULTS & POPULAR */

/* CARDS LODGING*/

.cards_lodging{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

.cards_lodging > div{
  background-color: white;
  border-radius: 20px;
  width: 30%;
  height: 211px;
  padding: 5px;
  box-shadow: 0 0 16px #0000002e;
  margin-bottom: 25px;
}

.cards_lodging div:hover{
  background-color: #deebff;
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.03);
}

.cards_lodging img{
  border-radius: 20px 20px 0 0;
  height: 117px;
  object-fit: cover;
  width: 100%;
}

.cards_lodging h3{
  font-size: 16px;
  padding-top: 5px;
  padding-left: 8px;
  margin: 0px;
}

.cards_lodging p{
  font-size: 13px;
  padding-top: 1px;
  padding-bottom: 5px;
  padding-left: 8px;
  margin: 0px;
}

.cards_lodging span{
  font-size: 12px;
  padding-left: 8px;
}

/* END CARDS LODGING */

/* CARDS POPULAR */

.cards_popular{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.cards_popular > div{
  display: flex;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0 0 16px #0000002e;
  height: 150px;
  margin-bottom: 25px;
}

.cards_popular div:hover{
  background-color: #deebff;
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.03);
}

.cards_popular img{
  border-radius: 20px 0 0 20px ;
  width: 155px;
  object-fit: cover;
}

.text_popular{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 12px;
}

.cards_popular h3{
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.cards_popular p{
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.cards_popular span{
  font-size: 12px;
}

/* END CARDS POPULAR */

/* ACTIVITIES */ 

#container_activities{
  padding: 0 50px;
}

.activities{
  margin: 50px 0;
}

/* CARDS ACTIVITIES */

.cards_activities{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  height: 480px;
}

.cards_activities >div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 23%;
  border-radius: 20px;
  box-shadow: 0 0 16px #0000002e;
}

.cards_activities >div:hover{
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.03);
}

.cards_activities h3{
  margin: 0px;
  padding-left: 18px;
  padding-bottom: 15px;
}

.vieuxport, .calanques{
  height: 100%;
}

.pomegues{
  height: 53%;
}

.frioul{
  height: 37%;
}

.notredame{
  height: 44%;
}

.longchamp{
  height: 46%;
}

/* END CARDS ACTIVITIES */

/* IMG CARDS ACTIVITIES */

.cards_activities img{
  height: 88%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.pomegues img{
  height: 78%;
}

.frioul img{
  height: 68%;
}

.notredame img{
  height: 74%;
}

.longchamp img{
height: 74%;
}

/* END IMG CARDS ACTIVITIES */

/* END ACTIVITIES */

/* FOOTER */

.liste{
  background-color: #f2f2f2;
  display: flex;
  height: 230px;
}

.liste >div{
  width: 432px;
  margin-left: 50px;
}

.liste h3{
padding-top: 24px; 
font-size: 20px;
}

.liste li{
  font-size: 17px;
  font-weight: 500;
  padding-bottom: 12px;
}

ul{
  padding: 0;
}

li{
  list-style-type: none;
}

li a{
  color: inherit;
  text-decoration: none;
  }

li a:hover{
  border-bottom: 2px solid black;
}

/* END FOOTER */