@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}

/* HEADER */

.head {
  margin: 0px 60px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

nav div {
  display: flex;
}

nav a {
  color: inherit;
  text-decoration: none;
  padding: 39px 34px;
  font-size: 15px;
}

#logo {
  width: 100px;
  margin-right: auto;
  padding-top: 44px;
}

nav div a:hover {
  border-top: 3px solid #0065fc;
  color: #0065fc;
}

/*FIN HEADER*/

/* SEARCH */

.search_filtres{
  padding: 0px 50px;
}

section h1 {
  margin-top: 30px;
  margin-bottom: -10px;
  font-size: 24px;
}

#search {
  display: flex;
  font-size: 18px;
  font-weight: 900;
}

.fa-sharp {
  padding: 16px;
  background-color: #f2f2f2;
  border-radius: 16px 0px 0px 16px;
  font-size: 18px;
}

#search input {
  border: 1px solid #f2f2f2;
  padding-left: 15px;
  padding-right: 35px;
}

#search input::placeholder {
  color: black;
  font-weight: 700;
}

#search button {
  background-color: #0065fc;
  color: white;
  border: none;
  border-radius: 0px 16px 16px 0px;
  padding: 0px 20px;
  font-weight: 700;
  cursor: pointer;
}

#search button i {
  display: none;
}

/* FIN SEARCH */

/* FILTRES */

#filtres {
  display: flex;
  align-items: center;
  margin: 25px 0;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 32px;
}

#filtres button {
  display: flex;
  align-items: center;
  background-color: white;
  border: 2px solid #d9d9d9;
  height: 45px;
  border-radius: 50px;
  padding: 0 16px 0 16px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

#filtres button:hover {
  background: #deebff;
  transform: scale(1.1);
}

#filtres i {
  background: #deebff;
  color: #0065fc;
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin-left: -18px;
}

#plus {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

#plus i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  border: 2px solid #d9d9d9;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  color: #0065fc;
}

/*FIN FILTRES*/

/* HEBERGEMENT */

.container_hebergement{
  padding: 0px 50px;
  display: flex;
  gap: 36px;
}

.container_hebergement > div{
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 12px 32px;
  }

.ville{
  flex-basis: 66%;
}

.container_hebergement .populaire{
  flex-basis: 33%;
}

.container_hebergement a{
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}

.stars{
  display: flex;
  justify-content: space-between;
}

.container_hebergement h3{
  font-size: 22px;
}

/*HEBERGEMENT*/

/*MINI CARDS HEBERGEMENT*/

.cards_hebergement{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

.cards_hebergement > div{
  background-color: white;
  border-radius: 20px;
  width: 30%;
  height: 211px;
  padding: 5px;
  box-shadow: 0 0 16px #0000002e;
  margin-bottom: 25px;
}

.cards_hebergement div:hover{
  background-color: #deebff;
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.03);
}

.cards_hebergement i{
  color: #0065fc;
}

#grey{
  color: #d9d9d9;
}

.cards_hebergement img{
  border-radius: 20px 20px 0 0;
  height: 129px;
  object-fit: cover;
  width: 100%;
}

.cards_hebergement h3{
  font-size: 16px;
  padding-top: 5px;
  padding-left: 8px;
  margin: 0px;
}

.cards_hebergement p{
  font-size: 13px;
  padding-top: 1px;
  padding-bottom: 5px;
  padding-left: 8px;
  margin: 0px;
}

.cards_hebergement span{
  font-size: 12px;
  padding-left: 8px;
}

/* MINI CARDS POPULAIRE */

.cards_populaire{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.text_logement{
  margin-left: 10px;
}

.cards_populaire > div{
  display: flex;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0 0 16px #0000002e;
  height: 150px;
  margin-bottom: 25px;
}

.cards_populaire div:hover{
  background-color: #deebff;
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.03);
}

.cards_populaire i{
  color: #0065fc;
}

.cards_populaire img{
  border-radius: 20px 0 0 20px ;
  width: 155px;
  object-fit: cover;
}

.cards_populaire h3{
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.cards_populaire p{
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.cards_populaire span{
  font-size: 12px;
}

.allignement_star{
  position: relative;
  top: 50px;
}

.allignement_stars{
  position: relative;
  top: 70px;
}

@media screen and (max-width: 1406px) {

  .allignement_stars{
    position: relative;
    top: 54px;
  }
}

@media screen and (max-width: 1268px) {

  .allignement_star{
    position: relative;
    top: 30px;
  }
}

@media screen and (max-width: 1224px) {

  .allignement_stars{
    position: relative;
    top: 40px;
  }
}

@media screen and (max-width: 1208px) {

  .allignement_star{
    position: relative;
    top: 10px;
  }
}

@media screen and (max-width: 1185px) {

  .allignement_stars{
    position: relative;
    top: 20px;
  }
}