@media screen and (max-width: 992px) {

  /*SEARCH*/

  .search {
    display: flex;
  }

  .title {
    padding-bottom: 20px;
  } 

  .search input {
    width: 300px;
  }


  /* END SEARCH */

  /*  FILTERS */

  .filters h3 {
    flex-basis: 100%;
    margin: 0px;
  }

  .filters button {
    margin-top: -20px;
  }

  /*  FILTERS */

  /* LODGING */

  #container_lodging{
    flex-direction: column-reverse;
  }

  /* CARDS POPULAR */

  .cards_popular{
    flex-direction: column;
    justify-content: space-around;
  }

  .cards_popular img{
    width: 59%;
    max-width: 265px;
  }
    
  /* END CARDS POPULAR */

  /* END LODGING */

  /* ACTIVITIES */

  .activities{
    height: 570px;
  }

  .cards_activities{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 200px;
    gap: 20px;
  }

  .cards_activities >div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 48%;
    height: 80%;
  }

  .cards_activities img{
    height: 70%;
  }

  /* END ACTIVITIES */
}